* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    /*  To make all elements center*/
    display: flex;
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal  center*/
    color: #555;
    background: #ecf0f3;
    
}

.gfg-div {
    /* login card width and height */
    width: 300px;
    height: 500px;
    padding: 20px 35px 25px 35px;
    border-radius: 35px;
    background: #ecf0f3;
    box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.8), 6px 6px 6px rgba(0, 0, 0, 0.2);

}

.gfg-logo {
   background: url("./img/logo.svg");
   background-size: cover;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   margin: 0 auto;
   /* Box-shadow for logo */
   box-shadow: 0px 0px 2px #5f5f5f,0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}

.gfg-title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
  color: #5ed887;
}

.gfg-subtitle {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
  color: #5eaa77;
}

.gfg-input-field {
   width: 100%;
   padding: 20px 15px 10px 5px;
}

.gfg-input-field input {

/* To hide default browser options of input field */
   border: none;
   outline: none;
   background: transparent ;

  /* Custom design for the input field */
   background: none;
   font-size: 18px;
   color: #555;
   padding: 15px 10px 15px 5px;
}

.gfg-email,
.gfg-password {
   padding:0px 10px;
   margin-bottom: 20px;
   border-radius: 20px;
   /* Box-shadow for 3d */
   box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;   
}

.gfg-button {
/* To hide default browser options of input field */
    outline: none;
    border: none;
/* Custom design for the Button */
   cursor: pointer;
   width: 100%;
   height: 60px;
   border-radius: 25px;
   font-size: 16px;
   font-weight: 700;
   font-family: "Lato", sans-serif;
   color: #fff;
   text-align: center;
   background: #67d18a;
   box-shadow: 7px 7px 8px #cbced1,-7px -7px 8px #ffffff;
   transition: 0.5s;
}

.gfg-button:hover {
   background: #5fb87d;
}

.gfg-button:active {
    background: #4a9764;
}

.gfg-link {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justifycontent-: space-between;
    
}

.gfg-link a {
    text-decoration: none;
    color: #aaa;
    font-size: 12px;
    transition: 0.5s;
}
.gfg-link a:not(:last-child) {
     margin-right: 25px;
}
.gfg-link a:hover {
    text-decoration: none;
    color: #67d18a;
    font-size: 15px;
}

















